*{
	font-family: 'Avenir', Arial, san-serif;
}

body {
	background: #eee
}

#content {
	margin: 15px 0;
	background: #fff;
	padding-bottom: 20px;
	border-radius: 10px
}

.todo-item{
	display: inline-block;
	height: 32px;
	padding: 6px 11.5px;
	margin: 1px;
}

.strike{
	text-decoration: line-through;
}

a:hover {
	text-decoration: none;
}

.editbox {
	display: inline-block;
	width: 70%;
}